*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("department.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    height: 6rem;
   position: absolute; 
   top: 0;
   left:10px;
}
@media (max-width:480px){
    .title{
     margin-top: 6rem;
    }
 }
 @media (max-width:576pxpx){
    .title{
     margin-top: 6rem;
    }
 }
 .form-container{
    height: 100%;
    width: 100%;
    margin: 50px auto;
    padding-top: 40px;
}
.form-container form{
    height:1000px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #7c888b;
    padding: 30px;
    text-transform: capitalize;
    border-radius: 30px;
    color: whitesmoke;
}
.form-container form h3{
    text-align: center;
    font-size:  2rem; 
    color: whitesmoke;
    padding-bottom: 0px;
}
.form-container form input{
    padding: 8px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
    border: black ;
    text-transform: capitalize;
    font-size: 1rem;
}

/*td1 in table*/
.move{
    padding-left: 20px;
}

/*minimize label*/
.action{
    width: 70%;
}
.table-responsive{
    max-width: 100%;
    overflow: auto;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 40px;
}
table{
    width: 100%;
    font-size: 10px;
    color: black;
    white-space: nowrap;
    border-collapse: collapse;
}
/*can type in empty in white*/
p input {
    border: none;
    width: 120px;
    height: 40px;
    background-color: whitesmoke; 
    align-items: center;
}
/*can type in empty in grey*/
.spacial{
    border: none;
    width: 120px;
    height: 40px;
    background-color: #7c888b;
}
table>thead{
    background-color: whitesmoke;
    color: black;
    font-size: larger;

}
table>thead th{
    padding: 15px;
}
table th,
table td{
    border: 1px solid #000;
}
.content-table tbody tr{
    background-color: #f3f3f3;
}
table>tbody>tr>td{
    width: 70px;
    height: 70px;
    font-size: 19px;
}
button{
    align-self: flex-end;
    height: 50px;
    width: 150px;
    border: none;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    justify-items: right;
    border-radius: 30px;
}
button:hover{
    transform: translateY(-0.25em );
    cursor: pointer;
    background-color: #219EBC;
    border-radius:30px;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}

.submit:hover{
    color: white;
}
.color{
    background-color: #7c888b;
    color: #7c888b;
}
h4{
    color: #000;
}
.inven{
    text-align: right;
    padding-top: 20px;
}
.update{
    margin-top: 40px;
}